import(ape)
import(utils)
import(grDevices)
import(stats)
import(phytools)
importFrom(parallel, mclapply)
import(ggplot2)
importFrom(phangorn,modelTest,read.phyDat)
importFrom(reshape2,melt)
importFrom(graphics, lines, mtext, par, plot, matplot, matlines, abline, text, points, polygon)
importFrom(R2HTML,HTMLStart,HTML.title,HTML,HTMLInsertGraph,HTMLStop)
import(Rcpp)
importFrom(RPANDA,CreateClassObject)
export(HOME_model,fit_HOME,model_selection_HOME,output_results_HOME,prepare_data_HOME,simul_bank_tree,sim_microbiota,example_great_apes_microbiota)
useDynLib(HOME)